<?xml version="1.0" encoding="utf-8"?>

<!--  
 - @file AndroidManifest.xml
 - @brief ACRRD Manifest
 - @author Arnaud Vassellier
 - @version 1.0
 - @date 2016
 - 
 - This file is part of ACRRD (Android Call Recorder Replayer Dictaphone).

    ACRRD is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    ACRRD is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with ACRRD.  If not, see <http://www.gnu.org/licenses/>
 - 
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fr.vassela.acrrd" android:versionCode="1" android:versionName="1.0">
	
	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="24"/>
	
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_OWNER_DATA" />
	<uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<application android:icon="@drawable/icon" android:label="@string/app_acronym">
		<!-- SPLASHSCREEN - MAIN & LAUNCHER -->
		<activity android:name="fr.vassela.acrrd.SplashScreen" android:noHistory="true"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- FIRST REAL ACTIVITY -->
		<activity android:name="fr.vassela.acrrd.Acquitment" android:noHistory="true"
		    android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<!-- MAIN ACTIVITY -->
		<activity android:name="fr.vassela.acrrd.Main" android:theme="@style/Default">
			<intent-filter>
				<action android:name="fr.vassela.acrrd.act.MAIN" />
				<action android:name="fr.vassela.acrrd.act.SHOWRECORDS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.main.Home" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.main.logger.TelephoneCallLogger" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.main.Records" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.main.description.Description" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.main.Preferences" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.filters.Filters" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.main.About" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.main.terms.Terms" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.main.license.License" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.main.Test" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name="fr.vassela.acrrd.replayer.Replayer" android:theme="@style/Default">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<!-- PROVIDER -->
		<provider android:name="fr.vassela.acrrd.database.DatabaseProvider"
			android:authorities="fr.vassela.acrrd.provider" android:multiprocess="false" />
		
		<receiver android:name="fr.vassela.acrrd.receiver.TelephoneCallReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.NEW_OUTGOING_CALL" />
				<action android:name="android.intent.action.PHONE_STATE" />
			</intent-filter>
		</receiver>
		
		<!-- SERVICE DE PURGE -->
		<service android:name="fr.vassela.acrrd.purge.PurgeService">
		</service>
		
		<!-- SERVICE DE RECORD -->
		<service android:name="fr.vassela.acrrd.recorder.RecordService">
		</service>
		
		<!-- SERVICE DE MONITORING -->
		<service android:name="fr.vassela.acrrd.monitoring.MonitoringService">
		</service>
		
		<!-- SERVICE DE SHAKE DETECTOR -->
		<service android:name="fr.vassela.acrrd.sensor.ShakeDetectorService">
		</service>
		
		<!-- WIDGET -->
		<receiver android:name="fr.vassela.acrrd.widget.WidgetProvider" android:label="@string/widget_app_acronym" android:theme="@style/Default">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="fr.vassela.acrrd.widget.act.UPDATEWIDGET" />
				<action android:name="fr.vassela.acrrd.widget.act.STARTRECORD" />
				<action android:name="fr.vassela.acrrd.widget.act.STOPRECORD" />
				<action android:name="fr.vassela.acrrd.widget.act.LAUNCHAPPLICATION" />
      		</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
		</receiver>
		
	</application>
</manifest>
